



.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tools{
  display: flex;
  list-style: none;
  
}
.tools li {
  margin-left: 10px;
  margin-right: 10px;
}
.liste{
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 25%;
}
.liste li{
  padding: 5px 15px 5px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid grey;
  
  margin: 5px;
  text-align: center;
}
li button{
  margin: 2px;
  background-color: white;
  border: none;
  border: 1px solid grey;
}
